{% extends 'base.html' %}
{% load static %}

{% block title %} {{ topic.subject }} {% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'topics/css/showTopic.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            {% if topic.image %}
                <img src="{{ MEDIA_URL }}{{ topic.image }}" class="card-img-top" alt="">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{ topic.subject }}</h3>
                <h5><span class="badge bg-secondary">{{ topic.category }}</span></h5>
                <p>{{ topic.author.first_name }} {{ topic.author.last_name }}</p>
                <p class="text-muted small">{{ topic.post_date }}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ topic.message }}</p>
            </div>
        </div>

        <hr>

        <h3>Comentários</h3>
        {% for comment in comments %}
            <div class="card p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <p class="card-text">{{ comment.text }}</p>
                    <p>{{ comment.author.first_name }} {{ comment.author.last_name }}</p>
                    <p class="text-muted small">{{ comment.post_date }}</p>
                </div>
            </div>
        {% endfor %}

        <hr>

        <h3>Deixe aqui seu comentário</h3>
        <form action="{% url 'register_comment' topic.id%}" method="POST">
            {% csrf_token %}
            <div class="d-flex flex-column mb-3">
                {{ form.text.label_tag }}
                {{ form.text }}
            </div>

            <input type="submit" class="btn btn-primary" value="Comentar">
        </form>
    </div>

{% endblock %}